@forward "../variables";
@use "../utils" as u;

.meaning {
  padding-block-start: u.rem(60);

  &__word-container {
    margin-block-end: u.rem(40);
    display: flex;
    justify-content: space-between;
    place-items: center;
  }

  &__word {
    font-size: u.fluid(320px, 1440px, 40px, 60px);
    font-weight: var(--fw-bold);
    line-height: 1;
    margin-block-end: u.rem(20);
  }

  &__phonetics {
    display: flex;
    gap: u.rem(20);
  }

  &__phonetic {
    display: flex;
    gap: u.rem(10);

    &__text {
      font-size: u.fluid(320px, 1440px, 18px, 20px);
      color: var(--clr-violet);
    }

    &__audio {
      display: flex;
      justify-content: center;
      place-items: center;
    }

    &__icon {
      height: u.fluid(320px, 1440px, 16px, 20px);
      width: u.fluid(320px, 1440px, 16px, 20px);
      color: var(--clr-violet);
      cursor: pointer;
      transition: transform 200ms var(--transition-bezier);

      &:is(:hover, :active) {
        transform: scale(1.2);
      }
    }
  }

  &__etymology {
    display: flex;
    gap: u.rem(10);
    place-items: center;
    margin-block-end: u.rem(30);

    &__text {
      font-size: u.fluid(320px, 1440px, 22px, 24px);
      font-weight: var(--fw-bold);
    }

    &__number {
      display: flex;
      justify-content: center;
      place-items: center;
      font-weight: var(--fw-bold);
      height: u.rem(30);
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var(--clr-violet-light);
    }
  }

  &__source {
    padding-block-end: u.rem(140);

    &__divider {
      height: 2px;
      width: 100%;
      background-color: var(--clr-gray-light);
      margin-block-end: u.rem(20);
    }

    &__title {
      font-size: u.fluid(320px, 1440px, 14px, 16px);
      color: var(--clr-gray);

      & a {
        padding-inline-start: u.rem(10);
        color: var(--clr-violet);

        &:is(:hover, :active) {
          text-decoration: underline;
        }
      }
    }
  }
}

.part-of-speech {
  margin-inline-start: u.rem(20);

  &__divider {
    display: flex;
    place-items: center;
    height: 2px;
    width: 100%;
    background-color: var(--clr-gray-light);
    margin-block-end: u.rem(35);
  }

  &__title {
    text-transform: lowercase;
    font-weight: var(--fw-bold);
    font-size: u.fluid(320px, 1440px, 20px, 22px);
    background-color: var(--clr-white);
    padding-inline-end: u.rem(30);
    line-height: 1;
    top: 0;
    left: 0;
  }

  &__definition {
    margin-block-end: u.rem(40);

    &__sub-title {
      font-size: u.fluid(320px, 1440px, 16px, 18px);
      color: var(--clr-gray);
      text-transform: capitalize;
      padding-block-end: u.rem(20);
    }
    &__list {
      margin-block-end: u.rem(30);
      & li {
        margin-inline-start: u.rem(40);
        margin-block-end: u.rem(10);
        font-size: u.fluid(320px, 1440px, 16px, 18px);
        line-height: 1.5;
      }
    }
  }
}

.synonyms {
  display: flex;
  flex-flow: row wrap;
  gap: u.rem(30);
  margin-inline-start: u.rem(40);

  &--found {
    color: var(--clr-violet);
    font-weight: var(--fw-bold);
    font-size: u.fluid(320px, 1440px, 16px, 18px);
  }

  &--none {
    color: var(--clr-gray);
    font-weight: var(--fw-bold);
    font-size: u.fluid(320px, 1440px, 16px, 18px);
  }
}

.arrow-up-icon {
  margin-inline-start: u.rem(5);
}
