@forward "../variables";
@use "../utils" as u;

.search-bar-container {
  height: u.rem(40);
}

.no-matches {
  color: red;
  margin-inline-start: u.rem(20);
  margin-block-start: u.rem(8);
  font-size: u.fluid(320px, 1440px, 14px, 16px);
}

.search-bar {
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--clr-gray-light);

  &__input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: transparent;
    border: none;
    padding: u.rem(20);
  }

  &__icon {
    height: u.rem(20);
    width: u.rem(20);
    color: var(--clr-violet);
    margin: u.rem(10);
  }
}

.search-bar.dark {
  background-color: var(--clr-black-med);

  & .search-bar__input {
    color: var(--clr-white);
  }
}
