:root {
  --main-font: "Roboto Slab", serif;

  // Accent Colors
  --clr-violet: hsl(274, 85%, 60%);
  // Colors
  --clr-black: hsl(0, 0%, 15%);
  --clr-black-med: hsl(0, 0%, 27%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray: hsl(0, 0%, 46%);
}
